@model _24DH113050_LTW.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>
        .search-container, .order-container {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    </style>
</head>
<body>
    <!--Form tim kiem-->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
        {
            @class = "form-control",
            placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
        })
            @Html.TextBoxFor(m => m.MinPrice, new
        {
        @class = "form-control",
        placeholder = "Nhập giá tối thiểu",
        type = "number"
        })
            @Html.TextBoxFor(m => m.MaxPrice, new
        {
        @class = "form-control",
        placeholder = "Nhập giá tối đa",
        type = "number"
        })
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>

        <!--Tùy chọn sắp xếp-->
        <div class="form-group order-container">
            Sắp xếp theo:
            @Html.ActionLink("Tên A->Z", "Index", new { sortOrder = "name_asc", searchTerm = Model.SearchTerm }) |
            @Html.ActionLink("Tên Z->A", "Index", new { sortOrder = "name_desc", searchTerm = Model.SearchTerm }) |
            @Html.ActionLink("Giá thấp->cao", "Index", new { sortOrder = "price_asc", searchTerm = Model.SearchTerm }) |
            @Html.ActionLink("Giá cao->thấp", "Index", new { sortOrder = "price_desc", searchTerm = Model.SearchTerm })
        </div>
    }

    @*Form ket qua tim kiem*@
    @Html.Partial("PV_ListProduct", Model)
</body>
</html>