@model _24DH113050_LTW.Models.Product

<head>
    <style>
        textarea
        {
            width: 100%;
            height: 150px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #dfdada;
            border-radius: 5px;
            background-color: whitesmoke;
            resize: none; 
            /*resize dùng để giữ nguyên form*/
            
        }
    </style>
</head>

<div class="form-group">
    <div class="control-label col-md-2">Danh mục</div>
    <div class="col-md-10">
        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Tên sản phẩm</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Mô tả</div>
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
    </div>
    @* TextArea dùng để tạo cái box để ghi dữ liệu *@
</div>

<div class="form-group">
    <div class="control-label col-md-2">Đơn giá</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Hình ảnh</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProductImage, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
    </div>
</div>
<hr />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Lưu" class="btn btn-primary" />
        @Html.ActionLink("Quay lại danh sách", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
