@model _24DH113050_LTW.Models.Product

<head>
    <style>
        img {
            height: 250px;
            max-width: 250px;
        }
    </style>
</head>

<div class="container-fluid">
    <hr />
    <div class="dl-horizontal">
        <div class="col-md-3">
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-9">
            <dl>
                <dt>
                    Tên sản phầm
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    Mô tả
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>

                <dt>
                    Đơn giá
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>

                <dt>
                    Danh mục
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
            </dl>
        </div>
    </div>
</div>
