@model IEnumerable<_24DH113050_LTW.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Danh sách danh mục</h2>

<table class="table bg-info col-lg-8 col-md-6 col-sm-3">
    @* col-lg-8 chỉnh to nhỏ của bảng thành 8 phần / 10 phần *@
    <tr>
        <th class="bg-success col-lg-5 col-md-4 col-sm-2">
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên danh mục
        </th>
        <th class="bg-success col-lg-3 col-md-2 col-sm-1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
